.slick-prev:before,.slick-next:before {
    color: white;
}

.slick-prev {
    left: 0px;
    margin-left: 1rem;
    z-index: 100;
}

.slick-next {
    right: 0px;
    margin-right: 1rem;
    z-index: 100;
}

.carousel-div {
    height: 20rem;
    width: 100%; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first {
    background-image: url("../../assets/fondo1.jpeg");
    
}

#sixth {
    background-image: url("../../assets/fondo7.jpeg");
}


