.slick-prev:before,.slick-next:before {
    color: white;
}

.slick-prev {
    left: 0px;
    margin-left: 1rem;
    z-index: 100;
}

.slick-next {
    right: 0px;
    margin-right: 1rem;
    z-index: 100;
}