.slick-prev:before,.slick-next:before {
    color: white;
}

.slick-prev {
    left: 0px;
    margin-left: 1rem;
    z-index: 100;
}

.slick-next {
    right: 0px;
    margin-right: 1rem;
    z-index: 100;
}

.carousel-div {
    height: 40rem;
    width: 100%; 
    background-size: cover;
}

#first {
    background-image: url("../../assets/fondo1.jpg");
}

#second {
    background-image: url("../../assets/fondo3.jpg");
}

#third {
    background-image: url("../../assets/fondo4.jpg");
}

#fourth {
    background-image: url("../../assets/fondo5.jpg");
}

#fifth {
    background-image: url("../../assets/fondo6.jpg");
}

#sixth {
    background-image: url("../../assets/fondo7.jpg");
}

#seventh {
    background-image: url("../../assets/fondo8.jpg");
}


