.loading {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
  }
  
  .spin-loading {
    height: 70px;
    width: 70px;
    border: 6px solid #F2F2F2;
    display: inline-block;
    border-radius: 50%;
    border-top-color: #219EBC;
    animation: 1s spin infinite ease-in-out;
  }
  
  .title-loading {
    margin-left: 30px;
  }
  
  @keyframes spin {
    to {    
      transform: rotate(360deg);
    }
  }
  